
<ion-side-menus>

    <ion-side-menu-content>
        <ion-nav-bar class="bar-stable nav-title-slide-ios7">
            <ion-nav-back-button class="button-clear"><i class="icon ion-chevron-left"></i> Back</ion-nav-back-button>
        </ion-nav-bar>
        <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left">
        <ion-content class="has-header" style="top:0px">
            <ion-list>
                <ion-item nav-clear menu-close href="#/login">
                    LOGO >> Start page
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/map">
                    Map type1
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/map">
                    Map type2
                </ion-item>
                <ion-item nav-clear menu-close href="#/about">
                    About
                </ion-item>

            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>


